@media (max-width:1875px){
  .top-menu ul li {
    margin: 0 15px;
  }
}
@media (max-width:1600px){
  header .logo-wrap{
    width: 300px;
    height: 120px;
  }
  .top-menu ul li a{
    font-size: 16px;
  }
  header .btn{
    width: 300px;
    height: 120px;
  }
  header .btn a{
    font-size: 20px;
    height: 60px;
  }
  .top-menu {
    width: calc(100% - 600px);
    padding-top: 40px;
  }
  .top-menu ul li a:after{
    bottom: -25px;
  }
  .home-banner h1{
    font-size: 90px;
  }
  .content-width {
    width: 1200px;
  }
  .home-banner p{
    font-size: 30px;
  }
  .btn-default{
    height: 64px;
    line-height: 60px;
    padding: 0 40px;
  }
  .home-banner .btn-default{
    min-width: inherit;
  }
  .home-banner {
    min-height: 800px;
  }
  .home-banner .content-width{
    padding-top: 90px;
  }
  .home-banner .btn-wrap{
    padding-bottom: 150px;
  }
  h2{
    font-size: 70px;
  }
  .about h6{
    font-size: 28px;
  }
  body{
    font-size: 20px;
  }
  .about .btn-default{
    min-width: inherit;
  }
  .services .item a h6{
    font-size: 30px;
  }
  .services .item a {
    padding: 75px 50px 0;
    height: 450px;
  }
  .services .item a h6{
    margin-bottom: 100px;
  }
  .psychotherapy .h3{
    font-size: 40px;
  }
  .accordion .accordion-thumb h6{
    font-size: 34px;
  }
  .fees{
    padding: 200px 0;
  }
  .fees h2{
    margin-bottom: 70px;
  }
  .sponsors{
    padding: 100px 0;
  }
  .services .slider-wrap .wrap .h3{
    font-size: 30px;
  }
  h3{
    font-size: 60px;
  }
  header .logo-wrap a{
    padding: 0;
  }
  header .logo-wrap{
    overflow: hidden;
  }
  .services .item-img .text .h3{
    font-size: 50px;
  }
  .services .item-small a{
    font-size: 30px;
    height: 200px;
  }
  .services .list-content ol li .h3{
    font-size: 50px;
  }
  .services .list-content{
    padding-left: 50px;
  }
  .services .default-form-wrap .default-form {
    width: calc(100% - 500px);
  }
  .services .default-form-wrap .form-left ul li p a{
    font-size: 30px;
  }
  .services .team-slider .swiper-slide a .hover-block h6{
    font-size: 28px;
  }
  .services .team-slider .swiper-slide a .hover-block{
    left: 30px;
    right: 30px;
  }
  .services .team-slider .swiper-slide a figure{
    height: 500px;
  }
  .nav-wrap > div{
    width: 54px;
    height: 54px;
  }
  .nav-wrap{
    height: 54px;
  }

  .profile-about h4{
    font-size: 50px;
  }
  .blog .item .title{
    font-size: 36px;
  }
  .blog .item .text {
    width: calc(47% - 250px);
  }
  .default-text .content {
    padding: 0 5%;
  }
  .default-text h1{
    font-size: 75px;
  }
  .prev-next-block .item .title a{
    font-size: 38px;
  }
  .default-text .bottom-info .h3{
    font-size: 30px;
  }
  .full-img-text h2{
    font-size: 80px;
  }
  .full-img-text{
    height: fit-content;
    min-height: 700px;
  }
  .about .time-block .time-item-2{
    width: 35%;
  }
  .services .content-2-item h4{
    font-size: 28px;
  }
  .services .content-2-item p + h4 {
    margin-top: 50px;
  }
  .services .map-block .map-left ol li h6, .services .map-block .map-left ol li h6:before{
    font-size: 28px;
  }
  .services .map-block .map-left ol li p a{
    font-size: 22px;
  }
  .services .content-ol-form .ol-item ol li h6{
    font-size: 28px;
  }
  .services .content-ol-form .ol-item ol li:before{
    top: 39px;
  }
}

@media (max-width:1280px) {

  .content-width {
    width: 900px;
  }
  .top-menu{
    display: none;
  }
  header .btn{
    display: none;
  }
  .open-menu{
    display: inline-block;
    margin: 50px 50px 0 0;
    a{
      display: flex;
      flex-direction: column;
      width: 36px;
      height: 36px;
      span{
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
      }
      span + span{
        margin-top: 6px;
      }
    }
  }
  .top-line{
    border-bottom: 0;
  }
  header .logo-wrap{
    border: none;
  }

  .menu-responsive {
    width: 100%;
    background: #293866;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    transition: all .4s ease;
    .wrap{
      padding: 75px 0 65px;
      width: 300px;
      margin: auto;
    }
    .close-menu{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      img{
        vertical-align: top;
        width: 100%;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
      }
    }
    .fancybox-close-small{
      display: none;
    }
    .btn-wrap{
      text-align: center;
      display: none;
    }
    .mob-menu{
      margin-bottom: 34px;
      &>ul{
        &>li{
          margin-bottom: 18px;
          &>a{
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: #fff;
          }
        }

        li:last-child{
          margin-bottom: 0;
        }
      }
    }
    .logo-wrap{
      width: 200px;
      margin-bottom: 30px;
      img{
        vertical-align: top;
        width: 100%;
      }
    }
    .soc{
      display: flex;
      align-items: center;
      li + li{
        margin-left: 20px;
      }
    }
    .list-info{
      margin-bottom: 18px;
      li + li{
        margin-top: 18px;
      }
      li{
        a{
          font-size: 16px;
          color: #fff;
        }
      }
    }
    .btn{
      a{
        display: flex;
       align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 2.2px;
        color: #fff;
        text-transform: uppercase;
        img{
          margin-right: 10px;
        }

      }
      a + a{
        margin-top: 20px;
      }
    }
  }
  .is-menu .menu-responsive{
    right: 0;
  }
  h2{
    font-size: 50px;
  }
  .home-banner h1{
    font-size: 70px;
  }
  .home-banner p{
    font-size: 24px;
  }
  .services .item a p{
    width: 100%;
  }
  .services .item a{
    padding: 50px 25px 0;
    height: 400px;
  }
  .psychotherapy{
    padding-top: 120px;
  }
  .psychotherapy .title{
    width: 100%;
  }
  .accordion-block .img-wrap{
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
  .accordion-block .text{
    width: 100%;
  }
  .fees p{
    margin-bottom: 80px;
  }
  .sponsors ul {
    flex-wrap: wrap;
    li{
      width: 33.33%;
    }
  }
  .services .slider-wrap .wrap .date{
    margin-bottom: 30px;
  }
  .services .slider-wrap .wrap{
    padding: 30px 40px 100px;
  }
  h3{
    font-size: 50px;
  }
  footer .logo-wrap{
    width: 250px;
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  footer .right{
    width: 100%;
    justify-content: space-between;
  }
  .services .item-img figure {
    padding: 30px 30px 0 0;
    width: 330px;
  }
  .services .item-img .text {
    width: calc(100% - 360px);
    padding: 30px 0 0;
  }
  .services .item-img figure a{
    height: 300px;
  }
  .services .item-small a {
    font-size: 20px;
    height: 150px;
  }
  .services .item-small a:hover img{
    width: 35px;
  }
  .fees-services .content {
    width: 700px;
  }
  .fees-services .content:after {
    width: 970px;
  }
  .services .item-img:nth-child(2n) figure{
    padding-left: 30px;
  }
  .services .list-content{
    padding: 0;
    ol{
      padding: 0;
    }
  }
  .services .default-form-wrap .default-form {
    width: calc(100% - 400px);
  }

  .profile-about h4{
    font-size: 38px;
  }

  .blog .item{
    padding-right: 300px;
    position: relative;
    margin-bottom: 30px;
  }
  .blog .item .left{
    width: 100%;
    top: 0;
    margin-bottom: 30px;
  }
  .blog .item .text{
    width: 100%;
  }
  .blog .item figure{
    position: absolute;
    top: 30px;
    right: 0;
  }
  .default-text h1 {
    font-size: 60px;
  }
  .default-text .line{
    margin-bottom: 50px;
  }
  .default-text .bottom-info {
    padding: 60px 60px;
  }
  .prev-next-block .item .title a {
    font-size: 30px;
  }
  .full-img-text h2{
    font-size: 60px;
  }
  .services .full-form-white{
    padding: 50px;
  }
  .services .content-ol-form .form-item{
    padding: 30px;
  }
  .page-banner h1{
    width: 100%;
  }
}

@media (max-width:991px) {
  .content-width{
    width: 720px;
  }
  .about .title{
    width: 100%;
    margin-bottom: 40px;
  }
  .about .text{
    width: 100%;
  }
  .services .item a .bg-img{
    opacity: 1;
  }
  .services .item a p{
    opacity: 1;
  }
  .services .item a h6 {
    color: #FFF;
    min-height: 72px;
    margin-bottom: 40px;
  }
  .services .item a h6 img {
    -webkit-filter: invert(100%) sepia(6%) saturate(13%) hue-rotate(340deg) brightness(141%) contrast(84%);
    filter: invert(100%) sepia(6%) saturate(13%) hue-rotate(340deg) brightness(141%) contrast(84%);
  }
  .fees .content:after{
    display: none;
  }
  .fees{
    padding: 100px 0;
  }
  .services .slider-wrap .wrap .hover{
    opacity: 1;
  }
  footer .right .item{
    margin: 0!important;
  }
  .services .item-img figure{
    border-right: 0;
  }
  .services .item-img .text{
    width: 100%;
  }
  .services .item-img:nth-child(2n){
    flex-direction: column;
    figure{
      padding-left: 0;
      border-left: 0;
    }
  }
  .services .item-small a img {
    width: 35px;
    display: block;
    margin-top: 10px;
  }
  .services .item-small a{
    flex-direction: column;
    text-align: center;
  }
  .services .list-content ol li .h3 {
    font-size: 30px;
  }
  .services .list-content ol li:before{
    width: 70px;
    height: 100px;
  }
  .services .list-content ol li{
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .services .default-form-wrap .default-form{
    width: 100%;
  }
  .services .default-form-wrap .form-left{
    width: 100%;
    margin-bottom: 40px;
  }
  .services .team-slider .swiper-slide a .hover-block p{
    display: none;
  }
  .services .team-slider .swiper-slide a .hover-block .btn{
    max-height: inherit;
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: -10px;
    img{
      width: 30px;
    }
  }
  .services .team-slider .swiper-slide a .hover-block h6 {
    font-size: 24px;
    padding-right: 40px;
  }
  .services .team-slider .swiper-slide a .hover-block {
    left: 20px;
    right: 20px;
  }
  .services .team-slider .swiper-slide a figure:after{
    display: none;
  }
  .profile-about .text{
    width: 100%;
    top: 0;
    margin-top: 40px;
  }
  .services .profile-content:after{
    display: none;
  }
  .services .profile-content .left{
    width: 100%;
    margin-bottom: 40px;
  }
  .services .profile-content .right{
    width: 100%;
  }
  .blog .item .left ul li a{
    padding: 0 15px;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
  }
  .blog .item .title {
    font-size: 30px;
  }
  .default-text .content{
    padding: 0;
  }
  .default-text h1 {
    font-size: 40px;
  }
  .prev-next-block .item .title a {
    font-size: 26px;
  }
  .about .time-block .time-item-1{
    width: 100%;
    margin-bottom: 20px;
  }
  .about .time-block .time-item-2 {
    width:calc(100% - 300px);
  }
  .services .content-2-item h4 {
    font-size: 24px;
  }
  .services .map-block .map-left{
    width: 100%;
    margin-bottom: 30px;
  }
  .services .map-block .map-img{
    width: 100%;
  }
  .services .content-ol-form .ol-item{
    width: 100%;
    margin-bottom: 30px;
  }
  .services .content-ol-form .form-item{
    width: 100%;
  }
  .services.bg-grey .item-small a img{
    filter: invert(1);
  }
}

@media (max-width:767px) {
  .content-width{
    width: 540px;
  }
  .services .item{
    width: 100%;
    a{
      height: auto;
      padding-bottom: 50px;
    }
  }
  .fees .content{
    width: 100%;
  }
  .sponsors{
    padding: 50px 0;
  }
  footer .right{
    flex-wrap: wrap;
    .item{
      width: 50%;
      margin-bottom: 30px!important;
    }
  }
  footer .right .item-2{
    width: 270px;
  }
  footer{
    padding: 80px 0;
  }
  .services .item-img .text .h3{
    font-size: 40px;
  }
  .services .item-img .text .btn a{
    width: 40px;
    img{
      width: 100%;
    }
  }
  .services .item-small{
    width: 50%;
  }
  .services .list-content ol li:before {
    width: 40px;
    height: 70px;
    font-size: 22px;
  }
  .services .list-content ol li{
    padding-left: 70px;
  }
  .blog .item figure{
    position: relative;
    top: 0;
    order: 0;
    margin-bottom: 30px;
  }
  .blog .item{
    padding-right: 0;
    .left{
      order: 1;
    }
    .text{
      order: 2;
    }
  }
  .blog .item .title {
    font-size: 24px;
  }
  .form-search{
    width: 100%;
  }
  .default-text{
    padding: 80px 0;
  }
  .default-text h2 {
    font-size: 24px;
    margin: 40px 0 20px;
  }
  .default-text .bottom-info .h3 {
    font-size: 24px;
  }
  .full-img-text{
    min-height: 600px;
  }
  .services .content-2-item .item2{
    width: 100%;
  }
  .services .content-2-item .item2 + .item2{
    margin-top: 30px;
  }
  .services .content-2-item:after{
    display: none;
  }
}

@media (max-width:575px) {

  .content-width{
    width: 100%;
    padding: 0 10px;
  }
  .home-banner h1 {
    font-size: 40px;
  }
  h2{
    font-size: 36px;
  }
  .about h6{
    font-size: 24px;
  }
  .psychotherapy .h3{
    font-size: 30px;
  }
  .psychotherapy .img{
    padding: 30px;
  }
  .accordion .accordion-panel .wrap{
    padding-right: 0;
  }
  .sponsors ul li{
    padding: 10px;
    height: 80px;
  }
  footer .right .item-2,  footer .right .item-4 {
    width: 100%;
  }
  footer .right .item {
    width: 100%;
  }
  footer .bottom{
    margin-top: 0;
  }
  .accordion .accordion-thumb h6{
    font-size: 24px;
  }
  .accordion .is-active .accordion-thumb h6 img {
    width: 40px;
    margin-left: 0;
  }
  .accordion .accordion-thumb h6{
    position: relative;
    padding-right: 60px;
    img{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .accordion-block{
    padding: 100px 0;
  }
  footer .info li{
    text-align: center;
    width: 100%;
    span{
      display: none;
    }
  }
  header .logo-wrap{
    width: 200px;
  }
  .open-menu{
    margin: 30px 30px 0 0;
  }
  .services .item-img figure{
    padding-left: 0!important;
    padding-right: 0!important;
    width: 100%;
  }
  .services .item-img .text .h3 {
    font-size: 30px;
  }
  .services .item-img .text p{
    width: 100%;
  }
  .services .list-content ol li .h3{
    margin-bottom: 10px;
  }
  body {
    font-size: 18px;
  }
  .services .list-content{
    margin-bottom: 50px;
  }
  .services{
    padding-top: 70px;
  }
  .services h2{
    margin-bottom: 50px;
  }
  .default-form .input-wrap{
    width: 100%;
    margin-bottom: 15px;
    input{
      padding: 0 20px;
      height: 62px;
      line-height: 60px;
      font-size: 18px;
    }
  }
  .default-form .nice-select{
    padding-left: 20px;
    height: 62px;
    line-height: 60px;
  }
  .default-form textarea{
    font-size: 18px;
    padding: 15px 20px;
  }
  footer .right ul h6{
    text-align: center;
  }
  footer .right ul li{
    text-align: center;
  }
  footer .right .item-4 li{
    width: fit-content;
    margin: 0 auto 15px;
  }
  footer .logo-wrap{
    margin: 0 auto 30px;
  }
  .nav-wrap{
    margin: -100px auto 50px;
    height: 44px;
    &>div{
      font-size: 18px;
      &:after{
        font-size: 24px;
      }
    }
  }
  .nav-wrap > div {
    width: 44px;
    height: 44px;
  }
  .profile-about figure{
    width: 100%;
  }
  .profile-about h4 {
    font-size: 26px;
  }
  .profile-about .btn-wrap{
    .btn-default{
      height: fit-content;
      line-height: 1.3;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .profile-about{
    padding: 80px 0 80px;
  }
  .services .profile-content .h4{
    font-size: 24px;
  }
  .services .profile-content .item-bg-white, .services .profile-content .item-border{
    padding: 25px;
  }
  .form-search input{
    padding: 0 70px 0 15px;
  }
  .default-text h1 {
    font-size: 36px;
  }
  .default-text p{
    font-size: 16px;
  }
  .default-text ul li:before{
    top: 8px;
  }
  .default-text ul li{
    margin-bottom: 7px;
  }
  .default-text .bottom-info{
    padding: 20px;
  }
  .prev-next-block .item .title a {
    font-size: 16px;
    line-height: 1.2;
  }
  .prev-next-block .item p{
    font-size: 14px;
  }
  .home-banner {
    min-height: 600px;
  }
  .default-text h1 {
    font-size: 34px;
  }
  .services .team-slider .swiper-slide a figure {
    height: 110vw;
  }
  .full-img-text h2 {
    font-size: 40px;
  }
  .services .full-form-white{
    padding: 25px 20px;
    margin-bottom: 80px;
  }
  .default-form .input-wrap-full + .input-wrap-full {
    margin-top: 10px;
  }
  .default-form .input-wrap-file input{
    height: 62px;
  }
  .default-form .input-wrap-file label {
    height: 62px;
    line-height: 62px;
    text-align: center;
    width: 100px;
    font-size: 14px;
  }
  .default-form .input-wrap-file p{
    padding: 0 15px;
    height: 62px;
    font-size: 16px;
    line-height: 60px;
  }
  .about .time-block .time-item-2{
    width: 100%;
    margin-bottom: 20px;
  }
  .services .content-2-item{
    margin-bottom: 80px;
  }
  .default-form .nice-select:after{
    right: 20px;
  }
  .services .map-block .map-left ol li h6, .services .map-block .map-left ol li h6:before{
    font-size: 24px;
  }
  .services .content-ol-form .ol-item ol li h6 {
    font-size: 24px;
  }
  .services .content-ol-form .ol-item ol li:before {
    top: 37px;
  }
}