$accent: #5C5C5C;
$red: #ff0007;
/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body{
  font-family: 'Geomanist', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: $accent;
}

header, section, footer{
  margin: auto;
}

a{
  text-decoration: none;
  &:focus{
    outline: none!important;
  }
}

a:hover, a:focus, a:active{
  text-decoration: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
figure{
  margin: 0;
  img{
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
p, a{
  color: $accent;
  margin: 0;
}
input{
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}
.content-width{
  width: 1516px;
  margin: auto;
}

h1, h2{
  margin: 0 0 30px;
}
h3{
  margin: 0 0 30px;
}
h4{
  margin: 0 0 30px;
}
h5{
  margin: 0 0 10px;
}
h6{
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button{
  outline: none!important;
}
/*---------------------------PAGE-HOME---------------------------*/
.content-width-full{
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
header{
  position: relative;
  max-height: 0;
  z-index: 9999;
  .content-width-full{
    display: flex;
    justify-content: space-between;
  }
  .logo-wrap{
    width: 385px;
    height: 160px;
    border-right: 1px solid #ADB5C4;
    a{
      display: block;
      padding-bottom: 34px;
    }
    img{
      width: 100%;
    }
  }
  .btn{
    width: 385px;
    height: 160px;
    border-left: 1px solid #ADB5C4;
    a{
      display: flex;
      height: 80px;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 2.2px;
      color: #fff;
      text-transform: uppercase;
      img{
        margin-right: 10px;
      }
      &:hover{
        background: #fff;
        color: $accent;
        img{
          filter: invert(76%) sepia(42%) saturate(9%) hue-rotate(342deg) brightness(92%) contrast(86%);
        }
      }
    }
    .link{
      font-size: 18px;
      letter-spacing: 1.8px;
    }
    a + a{
      border-top: 1px solid #ADB5C4;
    }
  }
}
.top-line{
  border-bottom: 1px solid #ADB5C4;
}
.top-menu{
  width: calc(100% - 770px);
  display: flex;
  padding-top: 57px;
  ul{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 18px;
    li{
      margin: 0 39px;
      a{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 2.88px;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        &:after{
          position: relative;
          bottom: -37px;
          content: '';
          left: 0;
          width: 100%;
          background: #FFF;
          height: 4px;
          transition: all .4s ease;
          transform: scaleX(0);
          display: inline-block;
        }
        &:hover{
          color: #C6DEFF;
          &:after{
            transform: scaleX(1);
          }
        }
      }
    }
    .current-menu-item a:after{
      transform: scaleX(1);
    }
    .current-menu-item a{
      color: #C6DEFF;
    }
  }
}
main{
  section:first-child{
    padding-top: 160px;
    position: relative;
    .bg{
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 430px;
        content: '';
        background: linear-gradient(180deg, rgba(68, 68, 68, 0.60) 0%, rgba(68, 68, 68, 0.00) 100%);
      }
    }
  }
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.bg + *{
  position: relative;
  z-index: 2;
}

.home-banner{
  min-height: 1080px;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .content-width{
    padding-top: 133px;
  }
  h1{
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    margin-bottom: 27px;
  }
  p{
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: lowercase;
    margin:0 auto 65px;
    text-align: center;
    color: #fff;
    max-width: 1000px;

  }
  .btn-wrap{
    text-align: center;
  }
  .btn-default{
    min-width: 355px;
  }
  .bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: inline-block;
    a{
      display: inline-block;
      padding-bottom: 90px;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      position: relative;
      &:after{
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 2px;
        content: '';
        background: #fff;
        margin-left: -1px;
        left: 50%;
      }
    }
  }
}

.btn-default{
  border: 2px solid #FFF;
  display: inline-block;
  cursor: pointer;
  height: 80px;
  line-height: 76px;
  text-align: center;
  padding: 0 58px;
  background: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #fff;
  &:hover{
    background: #fff;
    color: $accent;
  }
}

.line{
  width: 100%;
  height: 2px;
  background: #3887F4;
  margin-bottom: 38px;
  position: relative;
  a{
    display: inline-block;
    padding: 0 30px;
    position: absolute;
    right: 32px;
    top: -9px;
    background:  #E5EBEF;
    color: #3887F4;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 1.8px;
    text-transform: capitalize;
    &:hover{
      color: $accent;
    }
  }
}
.label{
  color: #444;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 53px;
}

.about{
  padding: 148px 0 151px;
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .title{
    width: 47%;
  }
  h6{
    color: #5C5C5C;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 64px;
  }
  .text{
    width: 47%;
  }
  p{
    margin-bottom: 30px;
    b{
      font-weight: 500;
    }
  }
  p:last-child{
    margin-bottom: 0;
  }
  .btn-default{
    min-width: 220px;
  }
}

h2{
  color: #444;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.btn-black{
  border: 2px solid #5C5C5C;
  color: rgba(92, 92, 92, 1);
  &:hover{
    color: #fff;
    background: #5C5C5C;
  }
}

.bg-grey{
  background: #E5EBEF;
}

.services{
  padding: 159px 0 0;
  .line{
    margin-bottom: 49px;
  }
  .content{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    border-top: 1px solid #C3C3C3;
  }
  h2{
    margin-bottom: 108px;
  }
  .item{
    width: 33.33%;
    overflow: hidden;
    a{
      display: flex;
      padding: 100px 100px 0;
      position: relative;
      flex-direction: column;
      height: 550px;
      .bg-img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all .4s ease;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:after{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          background: linear-gradient(0deg, rgba(56, 135, 244, 1) 0%, rgba(56, 135, 244, 1) 100%),lightgray 50% / cover no-repeat;
          opacity: 0.5;
        }
      }
      h6{
        color: #444;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        margin: 0 auto 150px;
        width: fit-content;
        img{
          margin-left: 15px;
          transition: transform .4s ease;
        }
      }
      p{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: capitalize;
        opacity: 0;
        transition: all .4s ease;
        position: relative;
        z-index: 2;
        width: 330px;
        margin: 0 auto 0;
      }
    }
    &:hover{
      a h6{
        color: #FFF;
        img{
          transform: rotate(45deg);
          filter: invert(100%) sepia(6%) saturate(13%) hue-rotate(340deg) brightness(141%) contrast(84%);
        }
      }
      a p{
        opacity: 1;
      }
      a .bg-img{
        opacity: 1;
      }
    }
  }
  .item + .item{
    border-left: 1px solid #C3C3C3;
  }
}

.psychotherapy{
  position: relative;
  padding: 193px 0 0;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2{
    color: #fff;
    margin-bottom: 24px;
  }
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .title{
    width: 48%;
    p{
      text-transform: capitalize;
      color: #fff;
      margin-bottom: 60px;
    }
  }
  .img-wrap{
    width: 600px;

    margin-top: 56px;

  }
  .line{
    margin-bottom: 95px;
    background: #FFF;
  }
  .h6{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 27px;
  }
  .h3{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 107px;
  }
  .btn-video{
    display: flex;
    justify-content: flex-end;
    a{
      display: flex;
      width: fit-content;
      flex-direction: column;
      color: #FFF;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      align-items: center;
      text-align: center;
      img{
        margin-bottom: 13px;
        transition: all .4s ease;
      }
      &:hover{
        img{
          transform: scale(1.04);
        }
      }
    }
  }
  .img{
    padding: 63px 60px 67px 70px;
    background: linear-gradient(0deg, rgba(56, 135, 244, 0.65) 0%, rgba(56, 135, 244, 0.65) 100%), url("../img/bg-2.jpg")no-repeat, lightgray 50% / cover no-repeat ;
    position: relative;
    mix-blend-mode: luminosity;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: linear-gradient(0deg, rgba(56, 135, 244, 1) 0%, rgba(56, 135, 244, 1) 100%),lightgray 50% / cover no-repeat;
      opacity: 0.5;
    }
    >*{
      position: relative;
      z-index: 2;
    }
  }
}

.bg-blue{
  background: #293866;
}

.accordion-block{
  padding: 158px 0 150px;
  .line a{
    background: #293866;
  }
  .line{
    margin-bottom: 48px;
  }
  .label{
    color: #fff;
  }
  h2{
    color: #fff;
    margin-bottom: 109px;
  }

  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .img-wrap{
    padding-top: 150px;
    width: 47%;
    img{
      width: 100%;
    }
  }
  .text{
    width: 47%;
  }
}

.accordion{
  .accordion-thumb{
    cursor: pointer;
    height: 150px;
    display: flex;
    align-items: center;
    padding-right: 50px;
    border-top: 1px solid #485783;
    position: relative;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #fff;
      transition: all .4s ease;
      opacity: 0;
    }
    h6{
      margin: 0!important;
      color: #FFF;
      font-size: 45px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      width: fit-content;
      img{
        width: 0;
        transition: all .4s ease;
        margin-left: 30px;
      }
    }
  }
  li{
    counter-increment: li;
    position: relative;
    &:after {
      content: "0"counter(li) ;
      position: absolute;
      top: 63px;
      right: 0;
      color: #6778AC;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      text-transform: capitalize;
      transition: all .4s ease;
    }
  }
  .is-active{
    .accordion-thumb{
      h6{
        img{
          width: 48px;
        }
      }
      &:before{
        opacity: 1;
      }
      &:after{
        color: #FFF;
      }
    }
  }
  .accordion-panel{
    display: none;
    .wrap{
      padding: 0 170px 50px 0;
    }
    p{
      color: #A1B0DC;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: capitalize;
    }
  }
}

.fees{
  position: relative;
  padding: 250px 0 257px;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content{
    width: 700px;
    margin: 0 auto;
    position: relative;
    &>*{
      position: relative;
      z-index: 2;
    }
    &:after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      content: '';
      width: 885px;
      height: 310px;
      background: url("../img/icon-3-1.svg")no-repeat center;
      background-size: contain;
      margin-top: 6px;
    }
  }
  h2{
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
  }
  p{
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
  }
  .btn-wrap{
    text-align: center;
  }
}

.sponsors{
  padding: 122px 0 122px;
  ul{
    display: flex;
    justify-content: center;
    li{
      width: 25%;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  }
}

.services{
  overflow: hidden;
  .slider-wrap{
    margin: 30px 0 146px;

    .wrap{
      height: 445px;
      background: transparent;
      transition: all .4s ease;
      padding: 45px 60px;
     position: relative;
     .h3{
       font-size: 35px;
       font-style: normal;
       font-weight: 500;
       line-height: 140%;
       text-transform: capitalize;
       color: #444;
       padding: 0 50px 0 0;
       margin: 0 0 26px;
       position: relative;
       &:after{
         position: absolute;
         top: 3px;
         right: 0;
         content: '';
         background: #444;
         width: 10px;
         height: 10px;
       }
     }
      .date{
        color: #798892;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: capitalize;
        margin: 0 0 60px;
      }
      .hover{
        transition: all .4s ease;
        color: #575757;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        text-transform: capitalize;
        opacity: 0;
      }
      .btn{
        position: absolute;
        bottom: 32px;
        left: 57px;
        img{
          vertical-align: top;
          transition: all .4s ease;
        }
        &:hover{
          img{
            transform: rotate(45deg);
          }
        }
      }
      &:hover{
        background: #F2F6F9;
        .hover{
          opacity: 1;
        }
      }
    }
  }
  .swiper-slide{
    border-left: 1px solid #444;
    border-top: 2px solid #444;
    border-bottom: 1px solid #444;
  }
  .swiper-slide:last-child{
    border-right: 1px solid #444;
  }
  .swiper{
    overflow: visible;
  }
}
.contact-now{
  padding: 150px 0 150px;
  .content{
    text-align: center;
  }
  .label{
    text-align: center;
    margin-bottom: 12px;
  }
  h3{
    text-align: center;
    margin-bottom: 49px;
    color: #444;
  }
  .btn-wrap{
    text-align: center;
  }
  .btn-default{
    height: 60px;
    line-height: 56px;
  }
}
h3{
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

footer{
  background: #23325F;
  padding: 120px 0 120px;
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo-wrap{
    width: 400px;
  }
  .right{
    width: calc(100% - 400px);
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -2px;
    .item{
      width: 200px;
      margin-left: 75px;
    }
    ul{
      h6{
        color: #3887F4;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-transform: capitalize;
        margin: 0 0 13px;

      }
      a{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        &:hover{
          color: #7CB3FF;
        }
      }
      p {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 219px;
      }
      li{
        margin-bottom: 5px;
        img{
          margin-right: 16px;
        }
      }
    }
    .item-2{
      margin-left: 30px;
    }
    .item-4{
      width: 270px;
      li:first-child{
        margin-bottom: 10px;
      }
      li{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }
      .tel{
       a{
         font-size: 20px;
         font-style: normal;
         font-weight: 500;
         line-height: 150%;
       }
      }
    }

    .item:first-child{
      margin-left: 0;
    }
  }
  .bottom{
    width: 100%;
    margin-top: 64px;
    border-top: 1px solid #485783;
    padding-top: 40px;
  }
  .info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 5px;
    li{
      margin: 0 5px;
      color: #AFB7CE;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      span{
        display: inline-block;
        margin-left: 5px;
      }
      a{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        &:hover{
          color: #7CB3FF;
        }
      }
    }
  }
  .info-link{
    display: flex;
    justify-content: center;
    li{
      margin: 0 5px;
      span{
        display: inline-block;
        margin-left: 5px;
      }
    }
    a{
      color: #AFB7CE;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      &:hover{
        color: #7CB3FF;
      }
    }
  }
}
.soc{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 29px;
  li{
    margin: 0 8px;
  }
  a{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #495886;
    font-size: 12px;
    line-height: 30px;
    color: #495886;
    &:hover{
      background: #fff;
      color: #23325F;
    }
  }
}
.open-menu{
  display: none;
}
.is-menu{
  overflow: hidden;
}

.services .slider-wrap .wrap{
  padding-bottom: 80px;
}

.sponsors ul li img{
  max-width: 100%;
}
/*--------------------------END-PAGE-HOME---------------------------*/
/*---------------------------PAGE-SERVICES---------------------------*/
.services-banner{
  display: flex;
  align-items: center;
  .content-width{
    padding-top: 50px;
    padding-bottom: 173px;
  }
}
.services{
  .img-text-content{
    margin: 30px 0 150px;
  }
  .item-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #c3c3c3;
    margin-bottom: 100px;
    figure{
      padding: 50px 50px 0 0;
      border-right: 1px solid #c3c3c3;
      width: 600px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      a{
        position: relative;
        height: 550px;
        display: block;
        width: 100%;
        &:after{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          background: linear-gradient(0deg, #3887f4 0%, #3887f4 100%), lightgray 50%/cover no-repeat;
          opacity: 0;
          transition: all .4s ease;
        }
        &:hover{
          &:after{
            opacity: 0.5;
          }
        }
      }
    }
    .text{
      width: calc(100% - 650px);
      padding: 50px 0 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .h3{
        color: #444;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-transform: capitalize;
        width: 100%;
        margin-bottom: 20px;
      }
      p{
        width: 550px;
        b{
          font-weight: 500;
        }
      }
      .btn{
        width: 100%;
        margin-top: 20px;
        a{
          display: inline-block;
          img{
            vertical-align: top;
            transition: all .4s ease;
          }
          &:hover{
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .item-img:nth-child(2n){
    flex-direction: row-reverse;
    figure{
      padding-right: 0;
      padding-left: 50px;
      border-left: 1px solid #c3c3c3;
      border-right: 0 solid #c3c3c3;
    }
  }
}
.services{
  .content-small-item{
    display: flex;
    flex-wrap: wrap;
  }
  .item-small{
    width: 25%;
    border-top: 1px solid #485783;
    border-right: 1px solid #485783;
    a{
      display: flex;
      justify-content: center;
      padding: 10px;
      align-items: center;
      color: #FFF;
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      text-transform: capitalize;
      height: 242px;
      img{
        margin-left: 0;
        vertical-align: top;
        transition: all .4s ease;
        width: 0;
      }
      &:hover{

        background: #3887F4;
        img{
          margin-left: 10px;
          width: 48px;
        }
      }
    }
  }
  .item-small:nth-child(4n){
    border-right: 0;
  }
}

.services.bg-blue{
  .label{
    color: #fff;
  }
  h2{
    color: #fff;
  }
}
.fees{
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    height: 400px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.20) 0%, rgba(24, 24, 24, 0.00) 100%);
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    height: 400px;
    background: linear-gradient(0deg, rgba(24, 24, 24, 0.20) 0%, rgba(24, 24, 24, 0.00) 100%);
  }
}
.fees .content{
  position: relative;

  h2, p, .btn-wrap{
    position: relative;
    z-index: 2;
  }
}
.fees-services{
  padding: 215px 0 223px;
  .content{
    width: 950px;
    &:after{
      width: 1057px;
      height: 408px;
      background: url(../img/icon-3-1.svg) no-repeat center;
      background-size: contain;
    }
  }
  p{
    max-width: 85%;
    margin: 0 auto 50px;
  }
}

.sponsors ul li {
  width: 20%;
}
/*--------------------------END-PAGE-SERVICES---------------------------*/
/*---------------------------PAGE-THERAPY---------------------------*/
.therapy-banner{
  .content-width{
    padding-top: 158px;
  }
}

.services{
  .list-content{
    margin: -3px 0 152px;
    padding-left: 107px;
    ol{
      list-style: none;
      li{
        counter-increment: li;
        position: relative;
        padding-left: 123px;
        border-bottom: 1px solid #C3C3C3;
        padding-bottom: 70px;
        margin-bottom: 63px;
        &:before{
          position: absolute;
          top: 6px;
          left: 0;
          content: counter(li);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 120px;
          border: 1px solid #AEC3D2;
          width: 70px;
          height: 128px;
          color: #AEC3D2;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
        p{
          color: #5C5C5C;
        }
        .h3{
          color: #444;
          font-size: 60px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          margin-bottom: 23px;
        }
      }
    }
  }

  .default-form-wrap{
    margin: 0 0 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-left{
      width: 375px;
      ul{
        border-bottom: 1px solid #52649A;
        padding-bottom: 68px;
        margin-bottom: 68px;
        li{
          margin-bottom: 65px;
          h6{
            color: #3887F4;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 15px;
          }
          p{
            a{
              font-size: 34px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              color: #fff;
              &:hover{
                color: #C6DEFF;
              }
            }
          }
        }
        li.tel{
          p{
            a{
              font-size: 34px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }
        li:last-child{
          margin-bottom: 0;
        }
      }
      h6{
        color: #3887F4;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
        a{
          color: #FFF;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          display: inline-block;
          position: relative;
          &:after{
            position: absolute;
            bottom: 3px;
            left: 0;
            right: 0;
            content: '';
            height: 1px;
            background: #fff;
            transition: all .4s ease;
          }
          &:hover{
            &:after{
              transform: scaleX(0);
            }
          }
        }
      }
    }
    .default-form{
      width: calc(100% - 570px);
    }
  }
}

.default-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .input-wrap{
    width: 48.5%;
    margin-bottom: 30px;
    label{
      display: none;
    }
    input{
      width: 100%;
      height: 80px;
      padding: 0 30px;
      line-height: 78px;
      border: 1px solid #485783;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      text-transform: capitalize;
      color: #fff;
      background: transparent;
      outline: none!important;
      transition: all .4s ease;
      &:focus{
        background: #FFF;
        border: 1px solid #485783;
        color: #444;
      }
    }
    input::-webkit-input-placeholder {
      color: #fff;
    }
    input::-moz-placeholder {
      color: #fff;
    }
    input:-ms-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder {
      color: #fff;
    }
    input:focus::-webkit-input-placeholder {
      color: #444;
    }
    input:focus::-moz-placeholder {
      color: #444;
    }
    input:focus:-ms-input-placeholder {
      color: #444;
    }
    input:focus:-moz-placeholder {
      color: #444;
    }
  }
  .input-wrap-full{
    width: 100%;
  }
  .nice-select{
    width: 100%;
    height: 80px;
    line-height: 78px;
    padding: 0 30px;
    border: 1px solid #485783;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background: transparent;
    outline: none!important;
    transition: all .4s ease;
    float: inherit;
    border-radius: 0;
  }
  .nice-select:after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 8px;
    width: 8px;
    right: 35px;
    margin-top: -7px;
  }
  .nice-select .list{
    background: #293866;
    width: 100%;
    border-radius: 0;
    border: 1px solid #485783;
  }
  .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color:transparent;
  }
  textarea{
    width: 100%;
    height: 160px;
    padding: 20px 30px;
    line-height: 1.3;
    border: 1px solid #485783;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background: transparent;
    outline: none!important;
    transition: all .4s ease;
    &:focus{
      background: #FFF;
      border: 1px solid #485783;
      color: #444;
    }
  }
  textarea::-webkit-input-placeholder {
    color: #fff;
  }
  textarea::-moz-placeholder {
    color: #fff;
  }
  textarea:-ms-input-placeholder {
    color: #fff;
  }
  textarea:-moz-placeholder {
    color: #fff;
  }
  textarea:focus::-webkit-input-placeholder {
    color: #444;
  }
  textarea:focus::-moz-placeholder {
    color: #444;
  }
  textarea:focus:-ms-input-placeholder {
    color: #444;
  }
  textarea:focus:-moz-placeholder {
    color: #444;
  }
  .input-wrap-submit{
    margin-top: 20px;
  }
}

.nav-wrap{
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  margin: -85px auto 152px;
  height: 62px;
  position: relative;
  &:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% - 200px);
    content: '';
    height: 1px;
    background: #C3C3C3;
  }
  &>div{
    left: 0;
    right: 0;
    position: relative;
    transform: none;
    top: 0;
    color: #444;
    font-size: 24px;
    width: 62px;
    height: 62px;
    border-radius: 240px;
    border: 1px solid #C3C3C3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all .4s ease;
    margin: 0;
    &:hover{
      background: #293866;
      border-color: #293866;
      img{
        filter: invert(0%) sepia(10%) saturate(7%) hue-rotate(5deg) brightness(187%) contrast(111%);
      }
    }
    &:after{
      display: none;
    }
  }
  div + div{
    margin-right: 14px;

  }
  .swiper-button-next{
    img{
      transform: scale(-1,1);
    }
  }
}

/*--------------------------END-PAGE-THERAPY---------------------------*/
/*--------------------------PAGE-TEAM---------------------------*/
.services{
  .team-slider-wrap{
    margin: 0 0 146px;
  }
  .team-slider{
    overflow: visible;
    .swiper-slide{
      border: none!important;
      a{
        display: block;
        position: relative;
        figure{
          width: 100%;
          height: 590px;
          position: relative;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: linear-gradient(0deg, #3887f4 0%, #3887f4 100%), lightgray 50%/cover no-repeat;
            opacity: 0;
            transition: all .4s ease;
          }
        }
        .hover-block{
          position: absolute;
          bottom: 30px;
          left: 40px;
          right: 40px;
          height: fit-content;
          transition: all .4s ease;
          z-index: 3;
          h6{
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #fff;
            margin: 0;
            transition: all .4s ease;
          }
          p{
            opacity: 0;
            max-height: 0;
            margin: 0;
            transition: all .4s ease;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: #fff;
          }
          .btn{
            opacity: 0;
            max-height: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            transition: all .4s ease;
          }
        }
        &:hover{
          figure{
            &:after{
              opacity: 0.5;
            }
          }
          .hover-block{
            h6{
              margin-bottom: 10px;
            }
            p{
              max-height: 300px;
              margin-bottom: 10px;
              opacity: 1;
            }
            .btn{
              max-height: 60px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
/*-------------------------END-PAGE-TEAM---------------------------*/
/*-------------------------PAGE-PROFILE---------------------------*/
.profile-banner{
  .content-width {
    padding-top: 213px;
  }
  h5{
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 65px;
  }
}

.profile-about{
  padding: 148px 0 150px;
  .line{
    margin-bottom: 40px;
  }
  .label{
    margin-bottom: 60px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  figure{
    width: 47%;
    img{
      width: 100%;
    }
  }
  .text{
    width: 46.7%;
    position: relative;
    top: -5px;
  }
  h4{
    color: #5C5C5C;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 25px;
  }
  .btn-wrap{
    margin-top: 63px;
  }
}

.services{
  .profile-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &:after{
      position: relative;
      top: 0;
      bottom: 0;
      left: 50%;
      content: '';
      width: 1px;
      background: #C3C3C3;
    }
    .left{
      width: 45%;
    }
    .right{
      width: 45%;
    }
    p{
      color: #5C5C5C;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 32px */
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    .h4{
      color: #444;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-transform: capitalize;
      margin-bottom: 25px;
    }
    p + .h4{
      margin-top: 55px;
    }

    .item-bg-white{
      background: #fff;
      padding: 50px 50px;
      margin-bottom: 50px;
    }
    .item-border{
      padding: 50px 50px;
      border: 1px solid #5C5C5C;
    }
  }
}
.list-point{
  margin: 0 0 30px;
  padding: 6px 0 0;
  li{
    position: relative;
    color: #5C5C5C;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    text-transform: capitalize;
    padding-left: 30px;
    margin-bottom: 20px;
    &:before{
      position: absolute;
      top: 12px;
      left: 0;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #444;
    }
  }
  li:last-child{
    margin-bottom: 0;
  }
}
.list-point:last-child{
  margin-bottom: 0;
}
/*------------------------END-PAGE-PROFILE---------------------------*/
